:root{
    --button-hover: #AD71D9;
    --button-background: #2E2C33;
}

#menu-main{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.channel-logo{
    display: flex;
    justify-content: left;
    align-items: left;
}

.channel-logo img{
    margin: auto;
    height: 50%;
    border-radius: 10%;
}

.channel-input{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.channel-input button{
    background: var(--button-background);
    color: white;
}

.channel-input button:hover{
    background: var(--button-hover)
}

.channel-input button:focus{
    background: var(--button-hover)
}

.launch-overlay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 5%;
}

.launch-overlay button{
    border: 2px solid #232229;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-weight: bold;
    background: var(--button-background)
}

.launch-overlay button:hover{
    background: var(--button-hover);
}

.overlay-opened {
    color: #FFFFFF;
}

.overlay-closed {
    color: #595562;
}