body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 32px;
  padding-top: 10px;
  overflow: hidden;
  color: white;
  background-color: #2c2a4a;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: #907ad6;
  outline: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  outline: 0;
  background-color: #dabfff;
}

button:focus {
  outline: 0;
  background-color: #907ad6;
  border: 2px black;
  border-radius: 10px;
}

.btn {
  background-color: #907ad6;
  color: white;
  border-radius: 10px;
} 

.options {
  display: grid;
  width: 100%;
}

.options > div {
  height: 75px;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #dabfff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #907ad6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}