@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('./titlebar.css');
@import url('./nav.css');
@import url('./menus/font.css');
@import url('./menus/main.css');

:root {
  --background-color: #5A5A63;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --text-color: white;
}

html {
  height: 100vh;
}

body {
  font-family: var(--font);
  margin: 0;
  overflow: hidden;
  height: 100%;
  color: var(--text-color);
  background: var(--background-color);
}

.menu {
  display: none
}

.opened-menu {
  display: grid !important;
  margin: 10px;
  height: calc(100% - 80px);
}

