@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('./titlebar.css');

:root {
  --background-color: #232229;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --text-color: white;
}

html {
  height: 100vh;
}

body {
  font-family: var(--font);
  margin: 0;
  overflow: hidden;
  height: 100%;
  color: var(--text-color);
  background: var(--background-color);
}

.container {
  padding-top: 12px;
  padding-bottom: 12px;
  height: calc(100% - 20px);
  display: grid;
  grid-template-rows: 240px 4fr;
  row-gap: 20px;
}

.top{
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 244px;
}

.change-channel-text{
  display: none;
  position: absolute;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 14px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom{
  border: 2px solid #2e2e35;
  border-radius: 15px;
}

.example-text {
  height: 100%;
  width: 280px;
  vertical-align: middle;
}

.selected-channel{
  text-align: center;
  align-self: flex-start;
}

.pfp-container{
  position: relative;
}

.change-channel{
  display: none;
  position: absolute;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#channelname{
  background-color: var(--background-color);
  color: white;
  font-size: 20pt;
  border: 2px solid var(--background-color);
  outline: none;
  text-align: center;
}

#btn-update-channel{
  border: none;
  outline: none;
  width: 90px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #7546c0;
}

#btn-update-channel:hover{
  background-color: #7546c0e8;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  color: inherit;
  background-color: #2e2e35;
}

.edit-channel {
  display: flex;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}

.top:focus .pfp{
  opacity: 20%;
}

.top:hover .pfp{
  opacity: 20%;
}

.top:focus {
  cursor: inherit;
  background-color: #2e2e35;
  outline: none;
}

.top:focus .change-channel{
  display: block;
}

input[type=number]:focus{
  background-color: #2e2e35;
  outline: none;
  border: none;
}

#btn-update-channel:focus .change-channel{
  display: block;
}

#btn-update-channel:focus .top:focus {
  cursor: inherit;
  background-color: #2e2e35;
  outline: none;
}

.top:focus-within > .example-text{
  display: none
}

.top:hover{
  cursor: pointer;
  background-color: #2e2e35;
}


.top:hover .change-channel{
  display: block;
}

.pfp {
  border-radius: 50%;
  border: 2px solid var(--blue);
  width: 200px;
  height: auto;
}

.options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}


.options > div {
  width: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: 70px 120px 40px;;
}

/* .label {
  width: 100%;
  padding-right: 15px;
  text-align: right;
} */

.number-input{
  padding-left: 15px;
  width: 100%;
}

.options > div input[type="number"]{
  background: transparent;
  border: none;
  color: white;
}

.option-contents {
  display: flex;
  flex-direction: row;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.authors {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  text-align: left;
  padding-right: 14px;
  column-gap: 5px;
}

.slider {
  vertical-align: middle;
  -webkit-appearance: none;
  width: 100%;
  align-self: center;
  background: #2e2e35;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #7546c0;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
} 


.switches {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.switches input {
  width: 80px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--gray);
  outline: none;
  border: 2px solid var(--blue);
  cursor: pointer;
}

.switch-button {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.switches label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switches span:last-child {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  border: 2px solid var(--blue);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
}
 
.switches span:last-child::before,
.switches span:last-child::after {
  content: "";
  position: absolute;
}
 
.switches span:last-child::before {
  left: 1px;
  top: 1px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}
 
.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
  background-size: 12px 12px;
}

.switches [type="checkbox"]:checked + label span:last-child {
  background: var(--green);
}
 
.switches [type="checkbox"]:checked + label span:last-child::before {
  transform: translateX(24px);
}
 
.switches [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  left: 8px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
  background-size: 14px 14px;
}

:root {
  --white: #e8e9ed;
  --gray: #434257;
  --blue: #18172c;
  --green: #00d084;
  --pink: #ff4b77;
}