#chat-box {
    font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
    list-style: none;
    font-size: 18px;
    overflow-y: auto;
    height: 250px;
    width: 500px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    color: white;
    overflow-wrap: normal;
    opacity: 0.60;
  }
  
  #chat-box::-webkit-scrollbar{
    display: none;
  }

.line{
  display: flex;
}
