#chat-box {
  list-style: none;
  overflow-y: auto;
  padding: 5px;
  margin: 0;
  height: calc(100% - 5px);
}

.chat-text {
  font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-shadow: 2px 0 0 black, -1.5px 0 0 black, 0 1.5px 0 black, 0 -1.5px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-size: 18px;
  color: white;
  opacity: 1;
}
::-webkit-scrollbar{
  display: none;
}

.message-container{
  /* word-break: break-all; */
}

.emote{
  margin-top: -5px;
  vertical-align: text-bottom;
  margin-bottom: -5px;
}

.line{
  padding-top: 16px;
}

.message {
  margin-left: 5px;
}

.inner {
  padding: 10px;
}

html{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: 0;
  height: calc(100vh - 7px);
  padding: 0;
  -webkit-app-region: no-drag;
}

.frame {
  border: 5px solid rgba(26, 26, 26, 0.815);
  border-style: groove;
  background-color: #0e0e0e4f
}

.highlight {
  background-color: rgba(161, 66, 255, 0.5);
}

#chat-container{
  top: 0;
  margin: 0px;
  margin-bottom: 5px;
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.badge{
  padding-left: 1px;
  padding-right: 1px;
  width: 1em;
  height: 1em;
}