#chat-box {
    font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
    list-style: none;
    font-size: 18px;
    overflow-y: auto;
    height: 180px;
    width: 400px;
    text-shadow: 1.5px 0 0 black, -1.5px 0 0 black, 0 1.5px 0 black, 0 -1.5px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    color: white;
    overflow-wrap: normal;
    opacity: 0.60;
  }
  
  #chat-box::-webkit-scrollbar{
    display: none;
  }

  #chat-box td {
    padding: 0; 
    margin: 0;
 }

.line{
  display: flex;
}