/* 
Variables
*/
:root {
    --background: #232229;
    --nav-selected: #AD71D9;
    --nav-background: #232229;
    --border-radius: 0px;
    --nav-icon-size: 20px;
}

/* hello */
nav{
 position: relative;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 grid-template-rows: 100%;
 align-items: center;
 width: 100%;
 top: 0;
 height: 40px;
 background: var(--nav-background);
 border-radius: var(--border-radius);
 box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
 text-align: center;
 vertical-align: middle;
}
nav i{
 font-size: var(--nav-icon-size);
 width: 100%;
 height: 100%;
 color: white;
 position: relative;
 display: inline-block;
 text-align: center;
}
nav .animation{
 position: absolute;
 height: 6px;
 bottom: 0;
 background: var(--nav-selected);
 border-radius: var(--border-radius);
 transition: all .5s ease 0s;
}
nav i:nth-child(){
 width: 100%;
}
nav .selected-main, i:nth-child(1):hover~.animation{
 width: 20%;
 left: 0;
 color: var(--nav-selected);
}
nav .selected-font, i:nth-child(2):hover~.animation{
 width: 20%;
 left: 20%;
 color: var(--nav-selected);
}
nav .selected-users, i:nth-child(3):hover~.animation{
 width: 20%;
 left: 40%;
 color: var(--nav-selected);
}
nav .selected-idle, i:nth-child(4):hover~.animation{
 width: 20%;
 left: 60%;
 color: var(--nav-selected);
}
nav .selected-info, i:nth-child(5):hover~.animation{
 width: 20%;
 left: 80%;
 color: var(--nav-selected);
}