@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

/* 
Color Variables
*/
:root {
    --background: #5A5A63;
    --nav-selected: #484496;
    --nav-background: #424254;
    --border-radius: 0px;
}

body {
 font-family: 'Open Sans', sans-serif;
 background: var(--background);
}
nav{
 position: relative;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 align-items: center;
 margin: 270px auto 0;
 width: 600px;
 height: 70px;
 background: var(--nav-background);
 border-radius: var(--border-radius);
 box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
 text-align: center;
}
nav i{
 font-size: 30px;
 width: 100%;
 text-transform: uppercase;
 color: white;
 text-decoration: none;
 line-height: 50px;
 position: relative;
 z-index: 1;
 display: inline-block;
 text-align: center;
}
nav .animation{
 position: absolute;
 /* height: 100%; */
 height: 5px;
 /* top: 0; */
 bottom: 0;
 z-index: 0;
 background: var(--nav-selected);
 border-radius: var(--border-radius);
 transition: all .5s ease 0s;
}
nav i:nth-child(){
 width: 100%;
}
nav .selected-main, i:nth-child(1):hover~.animation{
 width: 20%;
 left: 0;
 color: var(--nav-selected);
}
nav .selected-font, i:nth-child(2):hover~.animation{
 width: 20%;
 left: 20%;
 color: var(--nav-selected);
}
nav .selected-users, i:nth-child(3):hover~.animation{
 width: 20%;
 left: 40%;
 color: var(--nav-selected);
}
nav .selected-idle, i:nth-child(4):hover~.animation{
 width: 20%;
 left: 60%;
 color: var(--nav-selected);
}
nav .selected-info, i:nth-child(5):hover~.animation{
 width: 20%;
 left: 80%;
 color: var(--nav-selected);
}